@tailwind base;
@tailwind components;
@tailwind utilities;

/* Твои глобальные стили */
body {
    background-color: #f2f3f7;
}
/* Скрытие скролла */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}